<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<div th:replace="layout/layout :: jumbotron"></div>
	<nav th:replace="layout/layout :: nav"></nav>
	<div class="container py-4 contenido-pagina">
		<div class="row contenedor">
			<div class="col-sm-12">
				
				<div class="panel panel-warning">
						  <div class="panel-heading" th:text="'Presupuesto #' + ${presupuesto.id}"></div>
						  <div class="panel-body">
						  <p><b>Año:</b> <span th:text="${presupuesto.anio}"></span></p>
						  <p><b>Mes:</b> <span th:text="${presupuesto.mes}"></span></p>
						  <p><b>Ingresos:</b> <span class="positivo">S/. <span th:text="${presupuesto.ingresos}"></span></span></p>
						  <p><b>Saldo previsto:</b> S/. <span th:text="${presupuesto.saldoPrevisto}"></span></p>
						  <p><b>Saldo real:</b> S/. <span th:text="${presupuesto.saldoReal}"></span></p>
						  <p><b>Costo previsto:</b> S/. <span th:text="${presupuesto.costoPrevistoTotal}"></span></p>
						  <p><b>Costo real:</b> S/. <span th:text="${presupuesto.costoRealTotal}"></span></p>
						  <p><b>Diferencia:</b><span class="positivo">S/. <span th:text="${presupuesto.diferenciaTotal}"></span></span> </p>
						  <p><b>Persona:</b> <span th:text="${presupuesto.persona.nombres} + ' ' + ${presupuesto.persona.apellidos}"></span></p>
						  </div>
						  <div class="contenedor">
						  	  <br>
						  	  <a class="btn btn-warning" th:href="@{/gasto/nuevo/} + ${presupuesto.id}">Nuevo Gasto</a>	
						  	  <br><br>
							  <div class="panel panel-warning" th:each="gasto:${gastos}">
									<div class="panel-heading" th:text="'Gasto por ' + ${gasto.categoria.nombre}"></div>
									  <div class="panel-body">
									  <p><b>Categoria:</b> <span th:text="${gasto.categoria.nombre}"></span></p>
									  <p><b>Costo previsto:</b> S/. <span th:text="${gasto.costoPrevisto}"></span></p>
									  <p><b>Costo real:</b> S/. <span th:text="${gasto.costoReal}"></span></p>
									  <p><b>Diferencia:</b><span class="negativo">S/. <span th:text="${gasto.diferencia}"></span></span> </p>
									  <br>
									  <a class="btn btn-warning" th:href="@{/detallegasto/listar/} + ${gasto.id}">Detalles</a>
									  <a class="btn btn-danger" th:href="@{/}">Eliminar Gasto</a>
									</div>
							  </div>
						  </div>
						  
						  
				</div>
			
				
				<br>
			</div>
	    </div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>