.contenido-pagina{
	min-height: 800px!important;
	padding-bottom: 100px;
}

.contenedor{
	width: 96%;
	margin: 0 auto;
}

.jumbotron{
	background-color: #CCBD07!important;
}

nav{
	
}

span.positivo{
	color: green;
	font-weight: bold;
}

span.negativo{
	color: red;
	font-weight: bold;
}

footer {
	position: fixed;
	bottom:0;
    height: 75px;
    width: 100%;
}