<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<div th:replace="layout/layout :: jumbotron"></div>
	<nav th:replace="layout/layout :: nav"></nav>
	<div class="container py-4 contenido-pagina">
		<div class="row contenedor">
			<div class="col-sm-12">
				<h2>Bienvenido a Money App</h2>
				<p>
					Vestibulum aliquet sapien porta ligula suscipit ultricies. Quisque vitae sollicitudin sapien. 
					Suspendisse mattis sem eget tortor egestas faucibus. Fusce id sollicitudin massa. 
					In mattis arcu ac ullamcorper fermentum. Vestibulum id augue neque. 
					Aliquam vitae ex vitae nibh cursus mattis vel sit amet neque. 
					Ut volutpat tincidunt sodales. Morbi in urna congue, cursus tortor ac, lacinia nibh. Nam est lectus, aliquam sit amet gravida ut, 
					scelerisque ut arcu. Pellentesque rutrum maximus laoreet. Nam molestie efficitur pellentesque. Aenean eget auctor nunc. 
					Phasellus elementum nisi eu tempor sagittis.
				</p>
				<p>
					Vestibulum aliquet sapien porta ligula suscipit ultricies. Quisque vitae sollicitudin sapien. 
					Suspendisse mattis sem eget tortor egestas faucibus. Fusce id sollicitudin massa. 
					In mattis arcu ac ullamcorper fermentum. Vestibulum id augue neque. 
					Aliquam vitae ex vitae nibh cursus mattis vel sit amet neque. 
					Ut volutpat tincidunt sodales. Morbi in urna congue, cursus tortor ac, lacinia nibh. Nam est lectus, aliquam sit amet gravida ut, 
					scelerisque ut arcu. Pellentesque rutrum maximus laoreet. Nam molestie efficitur pellentesque. Aenean eget auctor nunc. 
					Phasellus elementum nisi eu tempor sagittis.
				</p>
				<p>
					Vestibulum aliquet sapien porta ligula suscipit ultricies. Quisque vitae sollicitudin sapien. 
					Suspendisse mattis sem eget tortor egestas faucibus. Fusce id sollicitudin massa. 
					In mattis arcu ac ullamcorper fermentum. Vestibulum id augue neque. 
					Aliquam vitae ex vitae nibh cursus mattis vel sit amet neque. 
					Ut volutpat tincidunt sodales. Morbi in urna congue, cursus tortor ac, lacinia nibh. Nam est lectus, aliquam sit amet gravida ut, 
					scelerisque ut arcu. Pellentesque rutrum maximus laoreet. Nam molestie efficitur pellentesque. Aenean eget auctor nunc. 
					Phasellus elementum nisi eu tempor sagittis.
				</p>
				<div class="contenedor" align="center">
					<img th:src="@{/img/costos.jpg}" alt="Costos image">
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>