<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<div th:replace="layout/layout :: jumbotron"></div>
	<nav th:replace="layout/layout :: nav"></nav>
	<div class="container py-4 contenido-pagina">
		<div class="row contenedor">
			<div class="col-sm-12">
				<h2>Nuevo Gasto</h2>
				<form th:action="@{/detallegasto/nuevo/} + ${idGasto}" th:object="${detalleGasto}" method="post">
				  <div class="form-group">
				  	<label for="descripcion">Descripcion: </label>
				  	<input type="text" class="form-control" id="descripcion" th:field="*{descripcion}">
					<label for="costoprevisto">Costo previsto: </label>
					<input type="number" class="form-control" id="costoprevisto" th:field="*{costoPrevisto}">
					<label for="costoreal">Costo previsto: </label>
					<input type="number" class="form-control" id="costoreal" th:field="*{costoReal}">
				  </div>
				  <button type="submit" class="btn btn-warning">Registrar</button>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>